<!DOCTYPE html>
<html>
<head>
    <title>Domains</title>
</head>
<body>

<h1>Configured Domains</h1>

<table border="1">
    <tr>
        <th>IP</th>
        <th>Domain</th>
    </tr>

    <tr><td>127.0.0.1</td><td>www.mojefirma.cz</td></tr>
    <tr><td>127.0.0.1</td><td>eshop.mojefirma.cz</td></tr>
    <tr><td>127.0.0.1</td><td>blog.mojefirma.cz</td></tr>
    <tr><td>127.0.0.1</td><td>admin.mojefirma.cz</td></tr>
    <tr><td>127.0.0.1</td><td>ftp.mojefirma.cz</td></tr>

</table>

</body>
</html>
